name: iOS starter workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Default Scheme
        run: |
          scheme_list=$(xcodebuild -list -json | tr -d "\n")
          default=$(echo $scheme_list | ruby -e "require 'json'; puts JSON.parse(STDIN.gets)['project']['targets'][0]")
          echo $default | cat >default
          echo Using default scheme: $default
      - name: Localization Sanity Check
        run: bash scripts/check_localizations.sh
      - name: Build
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          device=$(xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//")
          scheme_to_build=$(cat default)
          workspace_path="Arithmetic.xcodeproj/project.xcworkspace"
          
          echo "Building workspace '$workspace_path' with scheme '$scheme_to_build' on device '$device'"
          
          xcodebuild build-for-testing -scheme "$scheme_to_build" -workspace "$workspace_path" -destination "platform=$platform,name=$device"
      - name: Test
        env:
          scheme: ${{ 'default' }}
          platform: ${{ 'iOS Simulator' }}
        run: |
          device=$(xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//")
          scheme_to_test=$(cat default)
          workspace_path="Arithmetic.xcodeproj/project.xcworkspace"

          echo "Testing workspace '$workspace_path' with scheme '$scheme_to_test' on device '$device'"

          xcodebuild test-without-building -scheme "$scheme_to_test" -workspace "$workspace_path" -destination "platform=$platform,name=$device"
