name: iOS starter workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Reset Swift Package Manager cache
        run: |
          rm -rf ~/Library/Caches/org.swift.swiftpm
          rm -rf ~/Library/Developer/Xcode/DerivedData
          xcodebuild -resolvePackageDependencies -project Arithmetic.xcodeproj -scheme Arithmetic
      - name: Build
        env:
          platform: ${{ 'iOS Simulator' }}
        run: |
          device=$(xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//")
          workspace_path="Arithmetic.xcodeproj/project.xcworkspace"
          
          echo "Building workspace '$workspace_path' with scheme 'Arithmetic' on device '$device'"
          
          xcodebuild build-for-testing -scheme "Arithmetic" -workspace "$workspace_path" -destination "platform=$platform,name=$device"
      - name: Test
        env:
          platform: ${{ 'iOS Simulator' }}
        run: |
          device=$(xcrun xctrace list devices 2>&1 | grep -oE 'iPhone.*?[^\(]+' | head -1 | awk '{$1=$1;print}' | sed -e "s/ Simulator$//")
          workspace_path="Arithmetic.xcodeproj/project.xcworkspace"

          echo "Testing workspace '$workspace_path' with scheme 'Arithmetic' on device '$device'"

          xcodebuild test-without-building -scheme "Arithmetic" -workspace "$workspace_path" -destination "platform=$platform,name=$device"
